/*
* @description: navigator style
* @author: glx
* @update: V.0.0.1 (2015-12-25 10:45)
*/


header {
  color: $gray-darkest;
}
header a{
    &,
    &:hover {
    color: $gray-darkest;
  }
}
.top-nav {
  & {
    border-bottom: 1px solid $gray-light;
    height: 40px;
  }
  .nav > li > a {
    padding: $padding-base-vertical 0;
    font-size: $font14;
    color: $gray-darkest;
  }
  .glyphicon {
    top: 2px;
    margin-right: 5px;
  }
  .top-nav-pipe {
    height:40px;
    padding: 0 $padding-base-horizontal;
    line-height:40px;
    color: $gray-lighter;
  }
}
.navbar {
  & {
    height:106px;
    /*line-height: 106px;*/
    margin-bottom:0;
    padding-top:30px;
    font-size: $font18;
  }
  .collapse.navbar-collapse {
    /*height:106px!important;*/
    /*line-height: 106px;*/
    a{
      background-color:transparent;
      &:hover {
        border-bottom:2px solid $red;
     }
    }
  }
  .navbar-logo {
    display: inline-block;
    width:187px;
    height:45px;
    background-image: url('#{$icon-path}#{logo}.png');
  }
  .nav {
    line-height:106px;
  }
  .dropdown-outer {
    display: inline-block;
  }
  .avatar-outer {
    margin-left:10px;
  }
  .avatar {
    position: relative;
    line-height: 43px;
  }
  .avatar-img {
    width:43px;
    height:43px;
    -webkit-border-radius:$border-radius-largest;
    -moz-border-radius:$border-radius-largest;
    border-radius:$border-radius-largest;
  }
  .mess-count {
    position: absolute;
    right:-4px;
    top:-2px;
    width:15px;
    height:15px;
    line-height: 15px;
    -webkit-border-radius:$border-radius-largest;
    -moz-border-radius:$border-radius-largest;
    border-radius:$border-radius-largest;
    background-color: $red;
    color: $white;
    font-size: $font-size-base * 0.9;
    text-align: center;
  }
  .nav-search {
    .form-group {
      width:150px;
      margin-top:5px;
    }
  }
}
.dropdown-menu {
  display: block;
  min-width:145px;
  padding-top:0;
  padding-bottom:0;
}
.nav-dropdown {
  li {
    border-bottom:1px solid #dfdfdf;
    a {
      padding:10px 20px;
      border-bottom:0!important;
      text-align: center;
    }
    a:hover {
      color: $red;
    }
  }
  li:hover {
    background-color: #f2f2f2;
  }
}
.navbar-header{
  button.navbar-toggle{
    float: $float-l;
    margin-left: 20px;
  }
}
.navbar-header > .navbar-brand{
  float: none;
}
.avatar-sm{
  float: $float-r;
  margin-right: 30px;
}
@media screen and (min-width: $screen-sm-min) {
    .navbar-header{
      width: 100%;
    }
    .order-mean {
      display: block;
    }
    .video-link,.invest-notice,.navbar-default .navbar-collapse.collapse{
      display: none!important;
    }
    .navbar-header,.navbar-default .navbar-toggle,.side-nav{
      display: inline-block;
    }
}
@media screen and (min-width: $screen-md-min) {
  .navbar-header{
    width: 100%;
  }
    .order-mean {
      display: inline-block;
      float: $float-r;
    }
    .video-link,.invest-notice,.navbar-default div.navbar-collapse.collapse {
      display: none !important;
    }
    .navbar-header,.navbar-default .navbar-toggle,.side-nav{
      display: inline-block;
    }
}
@media screen and (min-width: $screen-lg-min) {
    .order-mean {
      display: inline-block;
    }
    .invest-notice ,.navbar-default div.navbar-collapse.collapse{
      display: block!important;
    }
    .container {
      width: 1186px;
    }
    .navbar-header,.navbar-default .navbar-toggle,.side-nav{
      display: none;
    }
}
.side-nav{
  position:fixed;
  top: 0;
  left: 0;
  width: $quarter;
  height: 100%;
  background: url('#{$icon-path}#{sidenav-bg}.jpg');
  background-size: 100% 100%;
  z-index: 10;
  font-size: $font20;
  li{
    width: 80%;
    margin: 0 10%;
    border-bottom:$border-base #a0a0a1;
    a{
      line-height: 40px;
      color: $white;
      opacity: .7;
      transition: all .3s ease-in-out;
      &:hover{
        background: none;
        opacity: 1;
      }
      i{
        font-size: $font18;
        color: $white;
        margin-right: 20px;
      }
    }
  }
  .user-photo {
    margin: 50px 0 20px 0;
    color: $white;
    &,
    img {
      width: 75px;
      height: 75px;
      border: $border-base $white;
      border-radius: $border-radius-largest;
    }
  }
  .user-infor-column p,a{
    color: $white;
  }
}