/*
* @description: Web site overall style
* @author: guolixin
* @update: V.0.0.1 (2015-12-23 18:32)
*/

.plf-info {
  border-bottom:1px solid $gray-lighter;
  @media (max-width: $screen-md-min){
    display: none;
  }
}
.stress-text {
  color: $red;
  font-weight:$bold;
}
//media query
@media (max-width: $screen-sm-min) {
  .order-mean {
    display: block;
  }
  .video-link,.invest-notice,.simple-text  {
    display: none;
  }
}
@media (min-width: $screen-md-min) {
  .order-mean {
    display: inline-block;
    float: $float-r;
  }
  .video-link,.invest-notice,.simple-text {
    display: none;
  }
}
@media (min-width: $screen-lg-min) {
  .order-mean ,.simple-text {
    display: inline-block;
  }
  .invest-notice {
    display: block;
  }
}

//
.icon-text{
  &{
    padding:40px 0px 50px;
  }
  .icon-item{
    float: $float-l;
    width:$quarter;
  }
  .glyphicon {
    font-size:42px;
  }
  .text-name {
    padding:5px 0;
    font-size: $font18;
    color: $gray-darkest;
  }
  .text-details {
    font-size: $font12;
    color: $gray-dark;
  }
}

.static-outer {
  & {
    padding:0 0 0 55px;
    margin-top:20px;
    border-left: 1px solid $gray-lighter;
  }
  .static-items {
    float: $float-l;
    width:$half;
    padding:15px 0;
  }
  .static-type {
    font-size: 15px;
  }
  .static-number {
    font-size:$font-size-base * 2.1;
    color: $red;
    font-weight:$bold;
  }
}
.bids-order {
  padding-top:30px;
  padding-bottom:30px;
}
.bg-gray {
  background-color: lighten($gray-base, 92%);
}
.project-list-header {
  background-color: $white;
  margin-bottom:30px;
  padding:30px 20px;
  border-radius:5px;
}
.project-list-items {
  .project-list-item {
    & {
      float: $float-l;
      font-size:15px;
    }
    a {
      color: $gray-darkest;
    }
  }
  .top-nav-pipe {
    float: left;
    padding: 0 $padding-base-horizontal;
    color: $gray-lighter;
  }
}
.product-lists-content {
  & {
   /* margin-bottom:30px;*/
  }
  .product-lists {
    .product-item-outer {
      & {
        margin-bottom:30px;
      }
      .product-item {
        background-color: $white;
        border-radius:5px;
        padding:15px;
        position: $relative;
        overflow: hidden;
        
        .pdt-type-title {
          margin-top:8px;
          margin-bottom:0;
          font-size:$font12;
          color: #9ea7b3;
        }
        .product-item-name {
          margin-bottom:8px;
          font-size: 15px;
        }
        .repayment {
          position: $absolute;
          display: none;
          width:92px;
          height:92px;
          right: 30px;
          top:20%;
          background: url('#{$icon-path}#{repayment}.png');
        }
        .experience-v {
          position: $absolute;
          width:92px;
          height:15px;
          left: -52px;
          top:-13px;
          -ms-transform:rotate(-45deg); 	/* IE 9 */
          -moz-transform:rotate(-45deg); 	/* Firefox */
          -webkit-transform:rotate(-45deg); /* Safari , Chrome */
          -o-transform:rotate(-45deg); 	/* Opera */
          transform:rotate(-45deg);
          color: $red;
          background-color: $white;
          text-align: center;
          font-size:9px;
          line-height:15px;
        }
      }
      .product-item-gray {
        background-color :lighten($gray-base, 90%);
        .repayment {
          display: block;
        }
      }
      .product-item-red {
        background-color :$red;//e61e25
        color: $white;
        .pdt-type-title,.amount-count,.profit-per,.rate-word {
          color: $white;
        }
        .tex-like-icon {
          visibility: hidden;
        }
      }
      .amount-count {
        font-size:$font18;
        color: #586a80;
        line-height:$font18;
        em {
          font-size:$font12;
        }
        .star-gray {
          color: #bdc3c7;
        }

      }
    }

  }
}
.rate-profit {
  & {
    border-left:1px dotted lighten($gray-base, 87%);
    padding-left:20px;
    text-align: $text-c;
    padding-bottom:25px;
  }
  .profit-per {
    font-size:$font16;
    color: $red;
      em {
        font-size:$font-size-base*4;
      }
  }
  .rate-word {
    color: #9ea7b3;
  }
}
.tex-like-icon {
  &{
    text-align: $text-c;
  }
  span {
    display: inline-block;
    width:18px;
    height:18px;
    border:$border-base #3e739d;
    border-radius:$border-radius-base*1.5;
    line-height:16px;
    text-align: $text-c;
    font-size:$font-size-base*0.9;
  }
  .icon-text-bao {
    border-color: #339999;
    color: #339999;
  }
  .icon-text-fu {
    border-color: #3e739d;
    color: #3e739d;
  }
}

.news-outer {
  padding-top:$number-base*3;
  padding-bottom:$number-base*3;
  .news-type {
    padding-bottom:$number-base;
    margin-bottom:$number-base;
    border-bottom:$border-base lighten($gray-base, 87%);
    font-size:$font18;
    .news-more{
      font-size:$font14;
      color: $red;;
    }
  }
  .news-list {
    li{
      padding-bottom:15px;
    }
  }
}

.car-main-cont {
  height:450px;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-indicators {
  bottom:45px;
}
.carousel-indicators li {
  width:9px;
  height:9px;
  margin-right:10px;
  border-color: #849094;
  background-color: #849094;
}
.carousel-indicators .active {
  position: $relative;
  width:9px;
  height:9px;
  margin-right:10px;
  &::after {
    position: $absolute;
    left:-7px;
    top:-7px;
    width:22px;
    height:22px;
    border:$border-base $white;
    border-radius: $border-radius-largest;
    content: '';
  }
}

.car-text {
  margin-left:20px;
  color: #fff;
}




